/.env
/project/build/
/project/dist/
/project/bin/
/project/linux/build/
/project/linux/dist/
/project/linux/bin/
/project/win/build/
/project/win/dist/
/project/win/bin/
/project/linux/CMakeLists_def.txt
/project/win/CMakeLists_def.txt
